*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  font-family: "Times New Roman", Georgia, Serif;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
/* Navigation */
.nav_container {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 3;
  overflow: hidden;
  letter-spacing: 4px;
}
.nav_container .nav_items {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav_container .nav_items .nav_item-left {
  margin-left: 1.5rem;
}

.nav_container .nav_items .nav_item-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5rem;
}
.nav_container li {
  padding: 0.5rem;
}
.nav_container li a {
  display: block;
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem;
}
.nav_container li a:hover {
  background-color: lightgray;
}
/* Header */
header {
  position: relative;
  max-width: 1400px;
  height: auto;
  margin: auto;
}
header .bg_img {
  position: relative;
  height: 800px;
  background-image: url(/img/shutterstock_789017482.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header .title {
  position: absolute;
  width: 100%;
  color: #fff;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
header .title .header-title {
  font-size: 10rem;
  font-family: "Lobster";
}
header .title .header-sub-title {
  font-size: 4rem;
  margin-top: 30vh;
}
/* Menu and Header Responsiveness */
@media screen and (max-width: 768px) {
  header .title .header-title {
    font-size: 6rem;
  }
  header .title .header-sub-title {
    margin-top: 35vh;
  }
  .nav_container .nav_items {
    display: inline-block;
    text-align: center;
  }
  .nav_container .nav_items .nav_item-right {
    display: none;
  }
}
/* About */
#about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 6rem auto;
  position: relative;
  height: 95vh;
  margin-top: 15vh;
}

.about_content-left {
  max-width: 100%;
  height: 80%;
  background-image: url(/img/pexels-cottonbro-4057752.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 2rem;
}
.about_content-right {
  text-align: center;
  margin: 1rem;
}
.about_content-right .about_title {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.about_content-right .about_sub_title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.about_content-right .about_text {
  margin-top: 0.5rem;
  padding: 0 1rem;
  line-height: 1.5;
  color: darkgray;
}
.read_more:hover {
  text-decoration: underline;
}
.read_more:hover::after {
  content: "full history!";
}
@media screen and (max-width: 768px) {
  #about {
    grid-template-columns: 1fr;
  }
  .about_content-left {
    display: none;
  }
}
/* Menu section */
/* Menu section */
#menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 6rem 2rem;
}
.menu_content {
  background-color: lightgray;
  padding: 2rem;
}
.menu_title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.menu_title::before,
.menu_title::after {
  content: "-";
}
.menu_item-description {
  margin-top: 0.5rem;
}
.menu_img img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  #menu {
    grid-template-columns: 1fr;
  }
  .menu_img {
    display: none;
  }
  .menu_content {
    background-image: url(/img/pexels-arthur-brognoli-3343624.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #fff;
    border-radius: 50px 0 50px 0;
  }
  .menu_content::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px 0 50px 0;
    z-index: -1;
  }

}
/* Contact Section */

#contact {
  margin: 3rem 0;
}
.contact {
  margin: 3rem 2rem;
}
.contact h1 {
  margin: 3rem 0;
  font-size: 2rem;
}
.contact p {
  margin-bottom: 1rem;
}
#contact h2 {
  font-size: 1.5rem;
  margin: 2rem 0 2rem 2rem;
}

.contact_form input {
  display: block;
  border: none;
  width: 100%;
  border-bottom: 1px solid grey;
  padding: 1rem;
  margin: 1rem;
}
.contact_form input:focus {
  border: none;
}
.contact_form .date_time {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
}
.contact_form .date_time label {
  display: block;
  margin-top: 1rem;
  font-family: "Playfair Display";
  color: gray;
  border-bottom: 1px solid grey;
  padding: 1rem;
}
.message_btn {
  border: none;
  display: inline-block;
  color: #111;
  background-color: #b4b2b2;
  font-size: 1.2rem;
  padding: 1rem 1.2rem;
  cursor: pointer;
  margin-left: 2rem;
}
.message_btn:hover {
  color: #fff;
  background-color: #111;
}

.footer {
  margin-top: 1rem;
  background-color: #b4b2b2;
  color: #111;
  height: 60px;
  width: 100%;
  position: relative;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 500;
  z-index: 3;
}
.footer span {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
}